.field {
	display: flex;
	flex-direction: column;
    width: 900px;
}

.button {
	margin-top: 1rem;
    padding: 0.5rem;
    background-color: rgb(55, 6, 203);
    color: lightgoldenrodyellow;
    
}
.label {
    font-size: 1.25em;
}
